<body>
    <div id="sharing"></div>
    <script src="js/jquery.min.js"></script>
    <script src="js/share.min.js"></script>
        <script type="text/javascript">
            $('#sharing').share({
  url: 'http://www.youtube.com/watch?v=oHg5SJYRHA0',
  text: 'check out this awesome video guys!'
            })
        </script>
</body>