/*
	Railpower 1.1 by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body
	{
		-ms-behavior: url('css/ie/backgroundsize.min.htc');
	}

	.button
	{
		position: relative;
		-ms-behavior: url('css/ie/PIE.htc');
	}
	
		.button.style3
		{
			background: #fefefe;
			border: solid 1px #dad9d9;
		}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
	}

		#footer .icons
		{
			position: relative;
			-ms-behavior: url('css/ie/PIE.htc');
		}
		
/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
	}
	
		#header header
		{
		}

			#header header p
			{
				border-top: solid 1px #888;
			}